@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** Custom prepreties **/

:root {
  --clr-gray-darker: #3D3D3F;
  --clr-gray-dark: #6D6E72;
  --clr-gray-light: #E8EAEF;
  --clr-blue-darker: #3F549C;
  --clr-blue-dark: #506FB3;
  --clr-blue-light: #7086CC;
  --clr-teal-darker: #47C3CD;
  --clr-teal-dark: #5CDCE6;
  --clr-teal-light: #91ECF9;
  --clr-purple-darker: #5F539B;
  --clr-purple-dark: #776BB3;
  --clr-purple-light: #998FCC;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 50%;
  color: white;
}

body {
  font-family: 'Comfortaa';
}

img {
  display: block;
  width: 100%;
}

/** Typography **/

h1 {
  margin-bottom: 2.2rem;
  font-size: 6.75rem;
  line-height: 5rem;
}

h2 {
  margin: 0 auto 10rem auto;
  font-size: 4.5rem;
  line-height: 5rem;
  padding-top: 8rem;
}
.portfolio .proj{
  padding-top: 0rem;
}

h3 {
  margin-bottom: 4rem;
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 4rem;
}

h4 {
  margin-bottom: 4rem;
  font-size: 3rem;
  line-height: 3.75rem;
}

p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  line-height: 5rem;
}

/** Button **/

.btn {
  border-radius: 5px;
  padding: 1.5rem 7rem;
}

/** Primary button **/

.btn-primary {
  color: black;
  background: linear-gradient(to right, var(--clr-teal-dark) 0%, var(--clr-purple-light));
}

.btn-primary:hover {
  background: linear-gradient(to right, var(--clr-teal-light) 0%, var(--clr-blue-dark));
}

.btn-primary:active {
  background: var(--clr-blue-dark);
}

/** accent button **/

.btn-acc {
  background: black;
}

.btn-acc:hover {
  color: black;
  background: white;
  outline: 1px solid black;
  outline-offset: -1px;
}

.btn-acc:active {
  background: var(--clr-teal-dark);
  outline: none;
}


/* *************heder********** */
header {
  height: 100vh;
  color: #000;
  background-color: #E8EAEF;
  /* padding: 4rem 320px; */
}

/** nav **/

nav {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
.nav-list {
  list-style: none;
  display: flex;
}

/** Hero **/
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40rem 30rem;
}

/** Welcom hero **/

.hero-welcome a {
  background: black;
 
}

section .skills{
  padding: 0 12rem;
}
section #portfolio{
  padding: 0 1rem;
}
/* ****************about me *************** */
.zz{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  background-color: white;
 
}
.para{
  color: #000;
  text-align: center;
}
.para p{
  line-height: 4rem;
  font-size:3.5rem ;
}
.img img{
height: 100vh;
}




/* ******SKILLS******* */
.skills{
  color: #000000;
  display: grid;
  place-items: center;
  padding: 22rem 0;
  }
  
.progress {
  height: 3em;
  border-radius: 23px;
  box-shadow: none;
  background: #C8C8C8;
  height: 4rem;
  }

.col{
  height: 100%;
  background: linear-gradient(to right,var(--clr-purple-dark) -4%, var(--clr-teal-darker) 95%);
  box-shadow: none;
  border-radius: 23px;
  float: left;
  font-size: 12px;
  line-height: 20px;
  }

  .container{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr  1fr; 
  gap: 4rem;
  
  }

.JavaScript {
  width: 90%;
  }
.SEO {
  width: 75%;
  }
.UI {
  width: 70%;
  }
.Node {
  width: 80%;
  }
.Wordpress {
  width: 70%;
  }
.React {
  width: 70%;
  }
  

.con{
  margin: 5rem 0 ;
  }


  /* ******portfolio****** */
  
.portfolio{
  height: 100%;
  color: black;
  display: grid;
  place-items: center;
  padding: 22rem 0;
  background-color: #E8EAEF;
  }

.card-wrap{
  display: grid;
  grid-template-columns: 1fr  1fr  1fr 1fr;
  position: relative;
  margin-left: 5rem;
  }

.card {
  color: rgb(255, 255, 255);
  background: linear-gradient(to top, #000000 0%, #5d5d5d00 100%);
  text-align: center;
  border-radius: 0 0 20px 20px ;
  width: 90%;
  padding-bottom: 2rem;

  }
  
.card h4{
  margin: 1rem auto;
  }

.text-p{
    margin: 1rem 0;
  }
  /* ************contact************ */
  .section-contact {
    background-color: var(--clr-gray-darker);
    color: white;
    display: grid;
    place-items: center;
    height: 80vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 50px;
  
  }
  
  .form input {

    width: 600px;
    padding: .6rem 1.2rem;
    box-shadow: 2px 2px black;
    border: 1px solid white;
    border-radius: 20PX;
  }
  
  .Message input {
    height: 100px;
  }
  
  label {
    font-size: 1.5rem;
    font-weight: 200;
  }
  
  .section-contact a {
    align-self: center;
    padding: .6rem 5rem;
  }
  /* **********exp*********** */

 .exp{
    text-align: center;
    background-color: #E8EAEF;
    color: #000;
  }
  .con1{
    padding: 10rem 15rem; 
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 40px;
		grid-row-gap: 40px;
    color: #000;
}

p {
	padding-top: 1rem ;
	 }
.con1 .im{
	padding-top: 1.5rem ;
}
.b{
	grid-area: 1 / 1 / 2 / 2;
}
.ba{
	grid-area: 2 / 1 / 3 / 2;
}
.bc{
	grid-area: 3 / 1 / 4 / 2;
}
.bd{
	grid-area: 4 / 1 / 5 / 2;
}
.aa{
	grid-area: 1 / 2 / 2 / 3;
}
.ab{
	grid-area: 2 / 2 / 3 / 3;
}
.ac{
	grid-area: 3 / 2 / 4 / 3; 
}
.ad{
	grid-area: 4 / 2 / 5 / 3;
}
.bor{
	background: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 23px; 
}
.con1 img {

	width: 50px;
	height: 50px;
	place-self:unset;
	
  
  }
  
	
 
  /************tablet*************/
  
  @media (max-width: 970px) {
    section .skills{
      padding: 0 0rem;
    }
    section .portfolio{
      padding: 0 0rem;
    }
    .card-wrap{
      display: grid;
      grid-template-columns: 1fr 1FR;
      gap: 5rem;
    margin-left: 5rem;
    }
    .zz{
      display: grid;
      grid-template-columns:  1fr;
   
    }
    .img img{
     display: none;
    }
    .form input {

      width: 300px;
    }
    
      header h1 {
        margin-bottom: 2.2rem;
        font-size: 4.5rem;
        line-height: 5rem;
      }

      
      header h3 {
        margin-bottom: 4rem;
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 4rem;
      }
      .hero {
      
        padding: 40rem 15rem;
      }
      .btn {
        padding: 1.5rem 2.4rem;
      }
      .btn-acc{
        padding: 1.5rem 2rem;
      }
      .para{
        padding: 0 3rem;
      }

    
   
 
  }
  /* *******************phone************* */
  @media (max-width: 500px) {
    .card-wrap{
      display: grid;
      grid-template-columns: 1fr ;
      gap: 5rem;
    margin-left: 5rem;
      
    }
    .container{
      display: grid;
      grid-template-columns: 1fr ;
    }
    .btn {
      padding: 1.5rem 1.5rem;
    }
    .btn-acc{
      padding: 1.5rem 1rem;
    }
    .con1{
			FONT-SIZE: 13PX;
			padding: 4rem ; 
      
		} 
  }
     
  
  